body {
    font-family: "Roboto Light", sans-serif;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #212121 url("../img/blue-man.jpg") center no-repeat;
    background-size: contain;
}
